.header {
  display: flex;
  margin-bottom: 20px;
  column-gap: 20px;
}

h4.title {
  line-height: 40px;
  font-size: 24px;
}

.statistics {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
}

.statistic {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
}

.select {
  min-width: 120px;
  height: 40px;
}

.button {
  width: 40px;
  height: 40px;
}
